<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="C:\Users\psnea\Desktop\CS50 Project\CSS\styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Julius+Sans+One|Merriweather&display=swap" rel="stylesheet">
  <title>Contact Us</title>
</head>

<body>
  <!-- Navbar Info -->
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="C:\Users\psnea\Desktop\CS50 Project\templates\index.html">
      API
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="C:\Users\psnea\Desktop\CS50 Project\templates\index.html">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="C:\Users\psnea\Desktop\CS50 Project\templates\QR.html">Make Your Own QR</a>
        <a class="nav-item nav-link" href="C:\Users\psnea\Desktop\CS50 Project\templates\contact.html">Contact</a>
        <a class="nav-item nav-link" href="C:\Users\psnea\Desktop\CS50 Project\templates\resources.html">Resources</a>
      </div>
    </div>
    <form action="http://www.google.com/search" method="get" class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>

  <header class="not_hp">
    <img src="C:\Users\psnea\Desktop\CS50 Project\templates\API contact.png" alt="Contact Us Logo">
  </header>
  <div class="Meet_the_programer">
    <h3 class="Meet_the_programer_txt">Meet the Programer</h3>
    <img class="Meet_the_programer_pic" src="C:\Users\psnea\Desktop\CS50 Project\templates\IMG-7463.jpg" alt="Preston's Profile Picture">
    <p>My name is Preston and I'm a student at the Harvard Extension School. I have a passion for computer science with a focus on volunteering and community service.</p>
  </div>

  <div class="icons">
    <h2 class="icons_txt">Follow Me on LinkedIn</h2>
    <ul list-style: none;>
      <li>
        <a href="https://www.linkedin.com/in/preston-snead-72592718a/">
          <img src="C:\Users\psnea\Desktop\CS50 Project\templates\linkedin img.jpg" class="icons_img" alt="linkedin Icon">
        </a>
      </li>
    </ul>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
