<!doctype html>
<!--Docutmentation taken from https://getbootstrap.com/docs/4.4/getting-started/introduction/ -->
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="C:\Users\psnea\Desktop\CS50 Project\CSS\styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Julius+Sans+One|Merriweather&display=swap" rel="stylesheet">

  <title>API</title>
</head>

<body>
  <!-- Navbar Info -->
  <nav class="navbar navbar-expand-md navbar-dark justify-content-between">
    <a class="navbar-brand" href="C:\Users\psnea\Desktop\CS50 Project\templates\index.html">
      API
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="C:\Users\psnea\Desktop\CS50 Project\templates\index.html">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="C:\Users\psnea\Desktop\CS50 Project\templates\QR.html">Make Your Own QR</a>
        <a class="nav-item nav-link" href="C:\Users\psnea\Desktop\CS50 Project\templates\contact.html">Contact </a>
        <a class="nav-item nav-link" href="C:\Users\psnea\Desktop\CS50 Project\templates\resources.html">Resources</a>
      </div>
    </div>
    <form action="http://www.google.com/search" method="get" class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <header>
    <img src="C:\Users\psnea\Desktop\CS50 Project\templates\APILogo2.png" alt="API Logo">
  </header>
  <!--Card group -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center">
          <div class="card-block">
            <img src="C:\Users\psnea\Desktop\CS50 Project\templates\apischools.png" alt="API for Schools logo" class="img-fluid">
            <div class="card-title">
              <h3>API for School</h3>
            </div>
            <div class="card-text">
              <p>A more personalized, detailed list of alergies and emergency contact information.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center">
          <div class="card-block">
            <img src="C:\Users\psnea\Desktop\CS50 Project\templates\apirestaurants.png" alt="API for Resturaunts logo" class="img-fluid">
            <div class="card-title">
              <h3>API for School</h3>
            </div>
            <div class="card-text">
              <p>Show your custom QR to your host or server to disclose full list of allergies.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card text-center">
          <div class="card-block">
            <img src="C:\Users\psnea\Desktop\CS50 Project\templates\apitravel.png" alt="API for Travel logo" class="img-fluid">
            <div class="card-title">
              <h3>API for School</h3>
            </div>
            <div class="card-text">
              <p>Four different languages provided for the most popular allergies. Present your custom QR to host or server to disclose full list of allergies..</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="not_hp">
    <img src="C:\Users\psnea\Desktop\CS50 Project\templates\API aboutus.png" alt="About Us Logo">
  </div>
  <div class="about_us_para">
    <p class="about_us_para">
      Our mission is to make it easier to talk about allergies and dietary restrictions. By streamlining the process of disclossing allergies we hope to add to the movement towards a more inlclusive community. Special thanks goes out to Keishla
      Sierra-Davila for help with the logo and design. Credit goes to https://davidshimjs.github.io/qrcodejs/ for QR code generator library.
    </p>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
